@import "tailwindcss";

@layer utilities {
.scrollbar-custom {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #c7c9ca transparent;
}

/* Chrome, Edge, Safari */
.scrollbar-custom::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #c7c9ca;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: red;
}

}

